output/
venv/

# The '*' is required in order to _in_clude data/search_keywords.txt, since ignoring 'data/' would completely ignore the whole folder.
data/*
!data/search_keywords.txt

models/
offsets/

.DS_Store
__pycache__
.env

.vscode
