output/
venv/

# The '*' is required in order to _in_clude data/search_keywords.txt, since ignoring 'data/' would completely ignore the whole folder.
data/*
!data/search_keywords.txt

# Ignore models and binary files
models/
*.bin

offsets/

.DS_Store
__pycache__
.env

.vscode

Delpher\ API\ documentation/

# This file is too large for Github, so a zipped version is pushed instead
blank_search_results_after_2000_2000-01-01_2026-01-01_search_results.ndjson
